.ftt{font-size: $font-tiny;}
.fts{font-size: $font-small;}
.ftb{font-size: $font-body;}
.fth6{font-size: $font-heading06;}
.fth5{font-size: $font-heading05;}
.fth4{font-size: $font-heading04;}
.fth3{font-size: $font-heading03;}
.fth2{font-size: $font-heading02;}
.fth1{font-size: $font-heading01;}
.ftd3{font-size: $font-display03;}
.ftd2{font-size: $font-display02;}
.ftd1{font-size: $font-display01;}

.fw1{font-weight: $font-w1;}
.fw2{font-weight: $font-w2;}
.fw3{font-weight: $font-w3;}
.fw4{font-weight: $font-w4;}

.flex-sb{display: flex;justify-content: space-between;align-items: center;}

.flex-sa{display: flex;justify-content: space-around;align-items: center;}

.mb160{margin-bottom: 160px;}

.lh-120{line-height:120%;}

.lh-150{line-height:150%;}
