*,*::before,*::after{
    box-sizing: border-box;
}

img{
    max-width:100%;
    height:auto;
}

@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

body{
  font-family: 'Noto Sans TC', sans-serif;
}