$font-tiny:12px;
$font-small:14px;
$font-body:16px;
$font-heading06:20px;
$font-heading05:24px;
$font-heading04:28px;
$font-heading03:32px;
$font-heading02:40px;
$font-heading01:48px;
$font-display03:80px;
$font-display02:120px;
$font-display01:160px;
$font-w1:bold;
$font-w2:700;
$font-w3:900;
$font-w4:400;
$text-color:#FFFFFF;
$link-color:#FFFFFF;


$font-family: 'Biofolio Ultimate';
$font-family: 'Noto Sans TC';